*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px;
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;

}
.logo{
font-size: 20px;
font-family: inter;
font-weight: 600;
line-height: 24px;
color: #000000;
}


.image{
    margin-top: 15px;
    margin-bottom: 15px;
}
div h1{
    font-size: 36px;
    font-family: open sans;
    font-weight: 600;
    color: #264852;
    line-height: 49px;
}
div p{
    font-size: 15px;
    font-family: open sans;
    font-weight: 400;
    color: #868686;
    line-height: 20px;
}

.button{
    margin-top: 20px;
    text-align: center;
    background-color: #043931;
    border-radius: 6px;
    font-size: 16px;
    font-family: open sans;
    font-weight: 400;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    line-height: 22px;
}
.adam{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.details{
    padding: 10px;
}
.details h4{
    font-size: 18px;
    font-family: open sans;
    font-weight: 600;
    color: #000000;
    line-height: 24px;
}
.details .first-p{
    color: #FF7A00;
    font-size: 10px;
    font-family: open sans;
    font-weight: 600;
    line-height: 14px;
}
.details .second{
    font-size: 10px;
    font-family: open sans;
    font-weight: 600;
    color: #868686;
}
.socialhandle{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.instagram p{
    background-color: #FF7A00;
    color:#FFFFFF;
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
    font-family: open sans;
    font-weight: 600;
    line-height: 16px;
}
.twitter p{
    background-color: #1EBDE0;
    color:#FFFFFF;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 12px;
    font-family: open sans;
    font-weight: 600;
    line-height: 16px;
}

